@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lato:ital,wght@0,700;1,300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
}

.base {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(242, 242, 242);
}

#content {
    box-sizing: border-box;
    width: 90%;
    height: calc(100% - 232px);
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 20px auto 0 auto;
    background-color: rgbA(212, 212, 212, .2);
}

.box-projecao {
    display: block;
    width: 75%;
    height: calc(100% - 20px);
    font-family: "Lato";
    padding: 10px 0 10px 0;
}

.box-projecao p {
    font-size: 12pt;
    font-family: Roboto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-indent: 2rem;
}



/* Conjunto de classes relativas ao usuário */
.box-user {
    width: 90%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid black;
    margin: 0 auto;
}

.card-user {
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5%;
}

.format-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10pt;
    letter-spacing: 2px;
}

.user {
    color:rgb(97, 97, 97);
    width: 60px;
    height: 60px;
    display: block;
    border: 5px solid rgb(204, 204, 204);
    border-radius: 50%;
    box-shadow: 0px 1px 5px black;
}

.info-user {
    font-family: Lato;
    font-size: 8pt;
    margin-left: 1%;
    display: block;
    
}

.info-user li {
    padding: 1px;
}


/* Classe responsável por aplicar estilos ao gráfico */

.box-grafico{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-pesquisa {
    list-style: none;
    margin-top: 5%;
    font-size: 10pt;
    display: block;
    font-family: Roboto;
    font-style: italic;
}

.font-pesquisa li::before{
    content: "• ";
    color: rgb(255, 99, 132);
}


/* Configuração da tabela selic */

.table-selic {
    width: 100%;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(204, 204, 204); 
}

.table-selic th{
    background-color: lightgray;
    font-style: italic;
}

/* Configuração para a tabela de inflação */

.box-inflacao {
    display: block;
    width: calc(20% - 20px);
    height: calc(100% - 20px);
    font-family: "Lato";
    padding: 10px;
}

.box-inflacao h2 {
    font-size: 11pt;
    display: table-row;
}

.box-inflacao p {
    font-size: 10pt;
    font-family: Roboto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.table-inflacao, th, td{
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(204, 204, 204);
}

.table-inflacao th {
    width: 70px;
    font-style: italic;
}

.table-inflacao tbody {
    width: 100%;
}

.w-max {
    width: 100%;
    display: block;
    text-align: right;
}

.table-inflacao td {
    display: block;
    text-align: right;
}

.table-inflacao th{
    background-color: lightgray;
}

.disp-flex {
    display: flex;
}



/* Configuração do Rodapé e configurações básica do projeto */

.footer {
    text-align: right;
    display: block;
    width: 90%;
    height: 30px;
    font-family: "verdana";
    line-height: 20px;
    font-size: 9pt;
    border-top: 1px solid black;
    margin: 20px auto 0 auto;
    font-style: italic;
}

.mt {
    margin-top: 3%;
}