@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&family=Lato:ital,wght@0,700;1,300&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


*{
    padding: 0;
    margin: 0;
}

#content {
    box-sizing: border-box;
}

.box-projecao {
    width: 80%;
    padding: 10px;
    height: 200px;
    margin: 0 auto;
    font-family: "Lato";
    display: block;
    border-top: 1px solid black;
}



/* Conjunto de classes relativas ao usuário */
.box-user {
    width: 80%;
    height: 160px;
    display: flex;
    align-items: left;
    justify-content: left;
    margin: 0 auto;
}

.card-user {
    width: 160px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 1.5%;
}

.format-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13pt;
    letter-spacing: 2px;
}

.user {
    color:rgb(97, 97, 97);
    width: 80px;
    height: 80px;
    display: block;
    border: 5px solid rgb(204, 204, 204);
    border-radius: 50%;
    box-shadow: 0px 1px 5px black;
}

.info-user {
    font-family: Lato;
    font-size: 9pt;
    margin-left: 1%;
    display: block;
    
}

.info-user li {
    padding: 1px;
}


/* Classe responsável por aplicar estilos ao gráfico */

.box-grafico{
    width: 80%;
    height: auto;
    margin-top: 2%;
    display: block;
    margin: 0 auto;
}

.font-pesquisa{
    list-style: none;
    margin-top: 3%;
    font-size: 11pt;
    display: block;
}

.font-pesquisa li::before{
    content: "• ";
    color: rgb(255, 99, 132);
}


/* Configuração de tables no HTML */

.config-table{
    width: 100%;
    height: 90px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.config-table, th, td{
    border-collapse: collapse;
    padding: 10px;
    text-align: left;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(204, 204, 204);    
}

th{
    background-color: lightgray;
}



/* Configuração do Rodapé e configurações básica do projeto */

.footer {
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
    background-color: rgb(226, 226, 226);
    font-family: "verdana";
    font-size: 12pt;
    line-height: 2;
}

.mt {
    margin-top: 3%;
}



/* Responsividade */

@media(max-width: 500px){

    .box-user {
        width: 80%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        
    }

    .format-text {
        font-size: 9pt;
    }
    
    .user {
        color:rgb(97, 97, 97);
        width: 50px;
        height: 50px;
    }
    
    .info-user {
        list-style: none;
        font-family: Lato;
        font-size: 7pt;
        margin-left: 1%;
        text-align: center;  
    }
    
    .info-user li {
        padding: 1px;
    }

    .box-projecao{
        height: auto;
    }

    .config-table{
        width: 100%;
        height: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        padding: 0;
        border: none;
    }
    
    .config-table, th, td{
        border-collapse: collapse;
        text-align: left;
        padding: 10px;
        background-color: rgb(249, 249, 249);
        display: flex;  
        border: none;
    }

    .config-table td {
        display: inline-block;
        width: 90%;
    }

    th{
        background-color: lightgray;
    }


    .footer{
        font-size: 8pt;
    }
}